
@font-face {
    font-family: 'Barlow Semi Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Regular'), url('BarlowSemiCondensed-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Italic'), url('BarlowSemiCondensed-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Thin'), url('BarlowSemiCondensed-Thin.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Thin Italic'), url('BarlowSemiCondensed-ThinItalic.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed ExtraLight'), url('BarlowSemiCondensed-ExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed ExtraLight Italic'), url('BarlowSemiCondensed-ExtraLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Light';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Light'), url('BarlowSemiCondensed-Light.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Light Italic'), url('BarlowSemiCondensed-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Medium'), url('BarlowSemiCondensed-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Medium Italic'), url('BarlowSemiCondensed-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed SemiBold'), url('BarlowSemiCondensed-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed SemiBold Italic'), url('BarlowSemiCondensed-SemiBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Bold'), url('BarlowSemiCondensed-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Bold Italic'), url('BarlowSemiCondensed-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed ExtraBold'), url('BarlowSemiCondensed-ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed ExtraBold Italic'), url('BarlowSemiCondensed-ExtraBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Black';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Black'), url('BarlowSemiCondensed-Black.woff') format('woff');
}


@font-face {
    font-family: 'Barlow Semi Condensed Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Semi Condensed Black Italic'), url('BarlowSemiCondensed-BlackItalic.woff') format('woff');
}